@mixin text-hide() {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

body {
	margin: 0;
	// background: $red;
}

.ugaheader {
	// box-sizing: border-box;
	padding: 0;
	background: $white;
	background-size: cover;
	font-family: $font-family-serif;
	font-size: 14px;
	line-height: 1;
	&--border {
		border-width: 0 0 3px;
		border-style: solid;
		&-red {
			border-color: $red;
		}
		&-black {
			border-color: $black;
		}
		&-white {
			border-color: $white;
		}
	}
	a {
		color: $black;
		@include media-breakpoint-up(md) {
			color: inherit;
		}
		&:focus {
			outline-color: #aaa	;
		}
	}
	&--red {
		background: $red;
		color: $white;
	}
	&--black {
		background: $black;
		color: $white;
	}
	&--red,
	&--black {
		a {
			&:focus {
				outline-color: fade-out($white, .9);
			}
		}
	}
}

.ugaheader__container {
	box-sizing: border-box;
	@include make-container();
	&--max-widths {
		@include make-container-max-widths();
	}
}

.ugaheader__row {
	@include make-row();
	&--primary {
		align-items: center;
		margin-bottom: 1em;
	}
	&--secondary {
		align-items: center;
	}
}
.ugaheader__wordmark {
	@extend .col;
	@extend .col-auto;
	padding-top: 16px;
	padding-bottom: 16px;
	&--shield {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.ugaheader__wordmark-link {
	@include text-hide;
	display: block;
	width: 148px;
	height: 8px;
	background: transparent url('../img/GEORGIA-HW-1CR.svg') left center no-repeat;
	background-size: contain;
	.ugaheader__wordmark--shield & {
		width: 177px;
		height: 20px;
		background-image: url('../img/GEORGIA-XH-FC.svg');
	}
	.ugaheader--red &,
	.ugaheader--black  & {
		background-image: url('../img/GEORGIA-HW-W.svg');
	}
	.ugaheader--red .ugaheader__wordmark--shield &,
	.ugaheader--black  .ugaheader__wordmark--shield & {
		background-image: url('../img/GEORGIA-XH-CW.svg');
	}
}

.ugaheader__nav-container {
	@extend .col;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: center;
}
.ugaheader__nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	@include media-breakpoint-down(sm) {
		position: absolute;
		z-index: 10;
		top: 40px;
		display: none;
		width: 200px;
		max-width: 100%;
		padding: 10px;
		background: darken($white, 2%);
		border: 2px solid darken($white, 10%);
		border-radius: 2px;
		.ugaheader__nav-menu-toggle[aria-expanded=true] + & {
			display: block;
		}
	}
	a {
		font-size: 14px;
		line-height: 1.2;
		text-decoration: none;
		transition: all 100ms ease-in;
		transition-property: background, opacity, border-color, color;
	}
}
.ugaheader__nav-menu-toggle {
	align-self: center;
	background: transparent;
	border: none;
	padding: 4px;
	color: fade-out($black, .333);
	font-size: 16px;
	transition: color 100ms ease-in;
	&:hover,
	&:active,
	&:focus {
		color: $black;
	}
	&:focus {
		outline-color: #aaa;
	}
	.ugaheader--red &,
	.ugaheader--black & {
		color: fade-out($white, .2);
		&:hover,
		&:active,
		&:focus {
			color: $white;
		}
		&:focus {
			outline-color: fade-out($white, .9);
		}
	}
	&.open {
		transform: rotate(180deg);
	}
	@include media-breakpoint-up(md) {
		display: none;
	}
}

/* General reset for list elements in the header */
.ugaheader__nav-list {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
	list-style: none;
	@include media-breakpoint-up(md) {
		flex-direction: row;
		align-items: stretch;
		padding: 0 5px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.ugaheader__nav-list-element {
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(md) {
			flex-direction: row;
		}
	}
	.ugaheader__nav-list-link {
		@include media-breakpoint-up(md) {
			font-size: 12px;
			line-height: 1;
		}
	}
}

.ugaheader__nav-links {
	margin-bottom: 10px;
	@include media-breakpoint-up(md) {
		margin-bottom: 0;
	}
	.ugaheader__nav-list-link {
		padding: 8px 4px;
		color: lighten($black, 20%);
		&:hover {
			// background: fade-out($black, .98);
			color: $black;
		}
		@include media-breakpoint-up(md) {
			display: flex;
			align-items: center;
			padding: 0 12px;
			color: inherit;
			&:hover {
				background: fade-out($black, .95);
				color: inherit;
				.ugaheader--red & {
					background: fade-out($black, .9);
				}
				.ugaheader--black & {
					background: fade-out($white, .9);
				}
			}
		}
	}
}
.ugaheader__nav-list-element {
	.ugaheader__nav-links & {
		align-items: stretch;
		border-width: 0 0 1px;
		border-style: solid;
		border-color: fade-out($black, .9);
		&:last-child {
			border-width: 0;
		}
		@include media-breakpoint-up(md) {
			padding: 0;
			border-width: 0 1px;
			border-color: fade-out($black, .8);
			&:last-child {
				border-width: 0 1px 0 0;
			}
		}
	}
	.ugaheader--red .ugaheader__nav-links &,
	.ugaheader--black .ugaheader__nav-links & {
		@include media-breakpoint-up(md) {
			border-color: fade-out($white, .8);
		}
	}
}
.ugaheader__nav-buttons {
	margin-bottom: 5px;
	@include media-breakpoint-up(md) {
		margin-bottom: 0;
	}
	// padding: 0 9px;
	.ugaheader__nav-list-element {
		margin-bottom: 5px;
		@include media-breakpoint-up(md) {
			align-items: center;
			padding: 0 8px;
			margin-bottom: 0;
		}
	}
	.ugaheader__nav-list-link {
		display: block;
		display: flex;
		align-items: center;
		padding: 6px;
		border: solid 1px darken($red, 5%);
		border-radius: 2px;
		background: fade-out($red, .05);
		color: $white;
		font-weight: 600;
		&:hover {
			border-color: $black;
			background: $black;
		}
		@include media-breakpoint-down(sm) {
			// border-color: fade-out($white, .5);
			border-width: 0;
			&:hover {
				background: $black;
				border-color: $black;
				color: $white;
			}
		}
		@include media-breakpoint-up(md) {
			.ugaheader--red & {
				border-color: $white;
				background: fade-out($white, .1);
				color: $black;
				&:hover {
					border-color: $white;
					background: $white;
					// color: $white;
				}
			}
			.ugaheader--black & {
				border-color: fade-out($white, .5);
				background: $red;
				color: $white;
				&:hover {
					border-color: $white;
					background: $white;
					color: $red;
				}
			}
		}
	}
}
.ugaheader__nav-icons {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	@include media-breakpoint-up(md) {
		margin-bottom: 0;
	}
	.ugaheader__nav-list-element {
		@include media-breakpoint-up(md) {
			align-items: center;
			padding: 0 1px;
		}
	}
	.ugaheader__nav-list-link {
		font-size: 20px;
		@include media-breakpoint-up(md) {
			display: flex;
			align-items: center;
			opacity: .9;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.ugaheader__search-toggle {
	display: none;
	padding: 4px;
	background: transparent;
	border: none;
	color: $black;
	font-size: 16px;
	&:hover {
		color: $black;
	}
	&:focus {
		outline-color: #aaa;
		.ugaheader--red &,
		.ugaheader--black & {
			outline-color: fade-out($white, .9);
		}
	}
	.ugaheader--black &,
	.ugaheader--red & {
		color: $white;
		&:hover {
			color: $white;
		}
	}
	@include media-breakpoint-up(md) {
		display: block;
	}
}

.ugaheader__search {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	@include media-breakpoint-up(md) {
		
	}
}

.ugaheader__search-field {
	width: 100%;
	margin-bottom: 0;
	@include media-breakpoint-up(md) {
		// display: none;
		opacity: 0;
		transition: opacity 100ms ease-in;
		height: 0;
		overflow: none;
		.ugaheader__search-toggle[aria-expanded=true] + & {
			// display: block;
			opacity: 1;
			height: auto;
			overflow: auto;
		}
	}
	
}

.ugaheader__search-input {
	display: block;
	width: 100%;
	z-index: 100;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: darken($white, 10%);
	padding: 4px 8px;
	color: $grey;
	font-family: $font-family-sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background: darken($white, 8%);
	&:focus {
		border-color: darken($white, 15%);
		outline-color: lighten($black, 50%);
		outline-width: 0px;
	}
	@include media-breakpoint-up(md) {
		position: absolute;
		right: 0;
		bottom: -33px;
		width: 200px;
		background: darken($white, 3%);
		border-width: 2px;
		border-color: darken($white, 12%);
		&:focus {
			border-color: darken($white, 25%);
		}
	}
}

.ugaheader__form-label,
.ugaheader__search-submit {
	@include text-hide();
}
